<style>.am-g {
    margin: 0 auto;
    width: 100%;
}

.am-g-fixed {
    max-width: 950px;
}
</style>
<div data-am-widget="list_news" class="am-g am-g-fixed"><br/>
    <volist name="detail" id="data">
        <article class="am-article">
            <div class="am-article-hd">
                <h1 class="am-article-title">{$data.article_title}</h1>
                <p class="am-article-meta">发布者：{$data.editor_name}</p>
            </div>

            <div class="am-article-bd">
                <p class="am-article-lead">{$data.article_content}></p><br/>
                <img src={$data.img_url}>
            </div>
        </article>

    </volist>
</div>