<header class="am-animation-scale-up am-topbar am-topbar-inverse ">
  <h1 class="am-topbar-brand">
      <a  href="__ROOT__/index.php"><img src="__ROOT__/Public/image/logo.png"></a>
    <a  href="__ROOT__/index.php">找班网</a>

  </h1>
<style type="text/css">
    .am-topbar .am-text-ir {
        display: block;
        margin-right: 10px;
        height: 55px;
        width: 125px;
        background: url(http://a.static.amazeui.org/assets/i/ui/logo.png) no-repeat left center;
        -webkit-background-size: 125px 24px;
        background-size: 125px 24px;
    }
</style>
    
  <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
  

	<div class="am-topbar-right">



     <empty name="myUser">
             <a href="__ROOT__?s=/Home/Index/register"><button class="am-btn am-btn-primary am-topbar-btn am-btn-sm">注册</button></a>
         <a href="__ROOT__?s=/Home/Index/login"><button class="am-btn am-btn-primary am-topbar-btn am-btn-sm">登录</button></a>



         <else/>
            <a href='__ROOT__?s=/Home/User/index'>欢迎您， {$myUser}</a>
            <a href="__ROOT__?s=/Home/Index/logout"><button class="am-btn am-btn-primary am-topbar-btn am-btn-sm">注销</button></a>
         <!--留言区-->
         <div class="am-topbar-right">
             <a href="__ROOT__/?s=/Home/Message/index"><button class="am-btn am-btn-primary am-topbar-btn am-btn-sm">留言板</button> </a>

         </div>


         
         <if condition="$gid lt 7 ">
				<!--班干部,班主任，辅导员-->
             <if condition="$gid eq 1">
			 <!--管理员-->
                 <div class="am-topbar-right">
                     <a href="__ROOT__/admin/admin.php"><button class="am-btn am-btn-primary am-topbar-btn am-btn-sm">后台管理</button> </a>
                    </div>

             </if>

             <div class="am-dropdown" data-am-dropdown>
                 <button class="am-btn am-btn-primary am-dropdown-toggle" data-am-dropdown-toggle>班级事务 <span class="am-icon-caret-down"></span></button>
                 <ul class="am-dropdown-content">
                     <li><a href="__ROOT__/?s=/Home/Class/index"><button class="am-btn am-btn-primary am-topbar-btn am-btn-sm">查看本班</button> </a>
                     </li>

                     <li><a href="__ROOT__/?s=/Home/Activity/viewVote"><button class="am-btn am-btn-primary am-topbar-btn am-btn-sm">发起投票</button> </a>
                     </li>

                     <li><a href="__ROOT__/?s=/Home/Activity/voteResult"><button class="am-btn am-btn-primary am-topbar-btn am-btn-sm">查看投票</button> </a>
                     </li>



                 </ul>
             </div>
             <div class="am-topbar-right">
                 <a href="__ROOT__/?s=/Home/Publish/index"><button class="am-btn am-btn-primary am-topbar-btn am-btn-sm">发布文章</button> </a>
             </div>
         </if>
		 <if condition="$gid eq 7">
		 <!--普通学生-->
		 <div class="am-dropdown" data-am-dropdown>
                 <button class="am-btn am-btn-primary am-dropdown-toggle" data-am-dropdown-toggle>班级事务 <span class="am-icon-caret-down"></span></button>
                 <ul class="am-dropdown-content">
                     <li><a href="__ROOT__/?s=/Home/Class/index"><button class="am-btn am-btn-primary am-topbar-btn am-btn-sm">查看本班</button> </a>
                     </li>

                     

                     <li><a href="__ROOT__/?s=/Home/Activity/voteResult"><button class="am-btn am-btn-primary am-topbar-btn am-btn-sm">查看投票</button> </a>
                     </li>



                 </ul>
             </div>
		 </if>

    </empty>

	</div>
    
   
	

  </div>
</header>



