<div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
    <div class="am-panel am-panel-primary">
        <div class="am-panel-hd">
            <h2>我要留言</h2>

        </div>

        <div class="am-panel-bd">
            <form method="post" class="am-form" action="__ROOT__/?s=/Home/Message/message">

                <div class="am-form-group">

                    <textarea class="" rows="7" name="content" id="doc-ta-1"></textarea>
                </div> <br>

                <div class="am-cf">
                    <input type="submit" name="" value="发布" class="am-btn am-btn-primary am-btn-sm am-fr">


                </div>
            </form>
        </div>
    </div>


</div>

